<div class="avatar text-center">
    <img src="{{ .Site.Params.ava }}" alt="rose" class="img-ava" />
</div>
<div class="px-3 text-center">
    <h3>Hello I'm Arul</h3>
    <p>
    <h6><i> Interests: Computers and Martial Arts </i></h6> 
    Welcome to my cozy corner of the web, where I'm just a regular guy sharing snippets from my life. From delving into Linux and networking to tinkering with computers and scripting, I'm all about exploring the digital realm. And when I'm not behind the screen, you'll find me trading punches in Muay Thai Boxing or honing my skills in Escrima. No fancy titles here—just real-life experiences shared with fellow adventurers. So, kick back, relax, and join me on this journey where tech meets combat, and every moment is an adventure. Welcome to my world.😎</p>
</div>
